.portada02{
    width: 100% ;
    height: 400px;
    background-size: cover;
    background-image: url(../multimedia/img/Carrousel/cc.jpg)
}

.portada03{
    width: 100% ;
    height: 400px;
    background-size: cover;
    background-image: url(../multimedia/img/absta.jpg)
}

.portada04{
    width: 100% ;
    height: 400px;
    background-size: cover;
    background-image: url(../multimedia/img/por4.jpg)
}                                   

