@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "variables";
@import "mixins";
@import "navegador";
@import "portadas";
@import "servicios";
@import "portfolio";
@import "contenidoprin";
@import "quienesomos";
@import "pieDePagina";
@import "contacto";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.carrousel{
    background-color: #a2686c;
    margin-top: 39px;
    z-index: 1000;
}

.carousel-item img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}


@media(max-width:1200px){
    .carrousel{
        margin-top: 0px;
    }

    .tarjeta-nav{
       position: static;
    }
    
    .piedepagina{
        grid-template-columns: 1fr 1fr;
    }
    .piedepagina .redes{
        grid-column: 1/3;
    }  
}



@media(max-width:768px){
    .loprincipal{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 25px;
        padding: 50px;
        align-items: center;
        justify-items: center;
    }
    .titulo-principal{
        color: #1a0811;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
           
    }
    
    .nosotros-gral{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 25px;
        padding: 50px;
        align-items: center;
        justify-items: center;
    }

    .servicios-gral{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 25px;
        padding: 50px;
        align-items: center;
        justify-items: center;
    }
    
    .contacto{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 25px;
        padding: 50px;
        align-items: center;
        justify-items: center;
    }

    .rectangulos-port{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 25px;
        padding: 30px;
        align-items: center;
        justify-items: center;
    }
    .subtitulo-principal p{
        font-size: 10px;
        color: black;
    }

    .piedepagina{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .piedepagina .redes{
        grid-column: auto;
    }
}



@media(max-width:576px){
    .tarjeta-nav .menu {
        display: block;
        color: #1a0811;
        font-size: 25px;
        margin: 10px;
        order: -1;
    }

    .tarjeta-nav .menu:hover + ul{
        left: 0px;
    }

    .tarjeta-nav ul:hover{
        left: 0px;
    }

    .tarjeta-nav ul{
        position: fixed;
        top: 0;
        left: -500px;
        background-color: #a2686c;
        width: 80vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 100px;
        transition: 0,5s;
        z-index: 2000;
    } 

    .tarjeta-nav ul li a{
        color: #ffffff;
    }

    .loprincipal{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 25px;
        padding: 50px;
        align-items: center;
        justify-items: center;
    }

    .titulo-principal{
        color: #1a0811;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
           
    }
    
    .subtitulo-principal p{
        font-size: 10px;
        color: black;
    }

    .nosotros-gral{
        @include Flex($column: column, $justificado: center);
    }


    .piedepagina{
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .piedepagina .redes{
        grid-column: auto;
    }
}


